<main id="top" class="masthead" role="main">
	<div class="container">

		<h1>The Sample App for <strong>Tomas</strong> <br>
			to <strong>show</strong> your stuff.</h1>
			<br>
		<div class="row">
				

			<div class="col-md-4 col-sm-3 col-xs-2">

			</div>
			<div class="col-md-4 col-sm-6 col-xs-8">
				<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-info btn-block"%>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-2">
			</div>

		</div>				
	</div>
</main>