<div id="top">
	<div class="container home-page">
		<div class="row">
			<h1>This TwitterReader was built for the<br>
			Full Stack Rails Challenge<br>
			by <strong>Stack Social</strong></h1>
			<br>
		</div>

		<div class="row">

			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
				<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-info btn-block"%>
				<p>By signing in, you agree to all sorts of crazy stuff.</p>
			</div>


		</div>				
	</div>
</div>