// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home-page{
	margin-top: 50px;
	height: 100%;
	position:relative;
	padding:80px 15px;
	color:#FFF;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	background-color:#6883cc;
	background-image:url(".png");
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}


.loading *{
	-webkit-animation:none!important;
	-moz-animation:none!important;
	-ms-animation:none!important;
	-o-animation:none!important;
	}
